<!Doctype html>
<html>

<head>

    <title>ERROR</title>
    <link rel="stylesheet" href="ex1.css">
    <style>
        h1 {
            color: rgba(134, 251, 255, 0.937);
            font-weight: bold;
            text-shadow: 0 0 8px rgb(57, 0, 0), 0 0 5px rgb(242, 115, 10);
            font-size: 120px;
            ;
        }
        
        div {
            border: solid 2px rgba(134, 251, 255, 0.937);
            background-color: #eb8e03;
        }
        
        body {
            background: #d3f2ea;
        }
    </style>
</head>

<body>
    <div>
        <h1 text-align="center">Echec DE Réussi </h1>
        <img class="center" src="emailerror.webp" width="400" height="300" alt="texte alternatif"></div>
</body>
<html>