<!Doctype html>
<html>

<head>

    <title>Page success</title>
    <link rel="stylesheet" href="ex1.css">
    <style>
        h1 {
            color: rgba(83, 52, 237, 0.937);
            font-weight: bold;
            text-shadow: 0 0 8px rgb(5, 135, 115), 0 0 5px green;
            font-size: 120px;
            ;
        }
        
        div {
            border: solid 2px black;
            background-color: #9af3db;
        }
        
        body {
            background: #d3f2ea;
        }
    </style>
</head>

<body>
    <div>
        <h1 text-align="center">Bien réussi </h1>
        <img class="center" src="imagesucc.jpg" width="400" height="300" alt="texte alternatif"></div>
</body>
<html>